@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 1700px){

}

@media screen and (max-width: 1500px) {
  .header_bg {
    box-shadow: 0 0 .53vw rgba(0, 0, 0, .4);
  
    &.navFixed {
      box-shadow: 0px 0px .67vw .33vw rgba(0, 0, 0, 0.2);
    }
  }
  
  .header_nav {
    height: 7.73vw;
    .header_logo {
      img {
        height: 7.73vw;
      }
    }
    .header_list {
      width: 6.67vw;
  
      >li {
        height: 7.73vw;
        line-height: 7.73vw;
        margin: 0 1.67vw;
  
        >a {
          font-size: 1.27vw;
        }
  
        &:first-child {
          width: 3.33vw;
        }
      }
    }
  
    .header_right {
      width: 3.33vw;
      height: 7.73vw;
      a{
        height: 2.27vw;
        line-height: 2.27vw;
        width: 2.27vw;
        font-size: 1vw;
      }
    }
  }
}