@font-face {
  font-family: "SourceHanSansCN Bold";
  /* Project id 2621899 */
  src: url('../fonts/SourceHanSansCN-Bold.otf') format('truetype');
}

@font-face {
  font-family: "DIN-Medium";
  /* Project id 2621899 */
  src: url('../fonts/DIN-Medium.otf') format('truetype');
}

@font-face {
  font-family: "DIN-Light";
  /* Project id 2621899 */
  src: url('../fonts/DIN-Light.otf') format('truetype');
}

@font-face {
  font-family: "SourceHanSansCN Medium";
  /* Project id 2621899 */
  src: url('../fonts/SourceHanSansCN-Medium.otf') format('truetype');
}

@font-face {
  font-family: "SourceHanSansCN Regular";
  /* Project id 2621899 */
  src: url('../fonts/SourceHanSansCN-Regular.otf') format('truetype');
}

@font-face {
  font-family: "SourceHanSansCN Normal";
  /* Project id 2621899 */
  src: url('../fonts/SourceHanSansCN-Normal.otf') format('truetype');
}

@font-face {
  font-family: "SourceHanSansCN Light";
  /* Project id 2621899 */
  src: url('../fonts/SourceHanSansCN-Light.otf') format('truetype');
}

input,
button,
textarea {
  background: none;
  outline: none;
  border: 1px solid #ccc;
}

// input:focus,
// textarea:focus,
// button:focus {
//   border: none;
// }

a {
  text-decoration: none;
  color: #666666;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #019ED5;
  text-decoration: none;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}


body {
  min-height: 1000px;
  background-color: #fff;
  font-family: "SourceHanSansCN Regular", "Microsoft YaHei", Helvetica, Arial, "Helvetica Neue", sans-serif;
}

* {
  letter-spacing: -.02em;
}

/* 页面1500px盒子 */

.container_zz {
  width: 100%;
  max-width: 1530px;
  margin: 0 auto;
  padding: 0 15px;
}


.visible_xs {
  display: none !important;
}

/* 顶部导航 */

.header_bg {
  background-color: #ffffff;
  position: relative;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);

  &.navFixed {
    position: fixed;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    top: 0;
    z-index: 999999;
  }

  .container_zz {
    max-width: 1500px;
  }
}

.header_nav {
  width: 100%;
  display: flex;
  padding: 0;
  height: 116px;

  .header_logo {
    display: flex;
    align-items: center;

    img {
      height: 116px;
    }
  }

  .header_list {
    flex: 1;
    width: 100px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    justify-content: flex-end;

    >li {
      display: inline-block;
      position: relative;
      height: 116px;
      line-height: 116px;
      margin: 0 25px;

      >a {
        font-size: 19px;
        color: #353535;
        font-family: "SourceHanSansCN Light";

        &:hover {
          color: #196fba;
          font-weight: bold;
        }
      }

      &:first-child {
        width: 50px;
      }
    }
  }

  .header_right {
    width: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 116px;

    a {
      display: inline-block;
      height: 34px;
      line-height: 34px;
      border-radius: 50%;
      background-color: #019ed5;
      width: 34px;
      text-align: center;
      color: #fff;
      font-size: 15px;
    }
  }
}

.banner {
  .container_zz {
    width: 100%;
    max-width: none;
    padding: 0 10.9375vw;
  }

  .swiper-container {
    position: relative;

    .swiper-slide {
      height: 40.7292vw;

      img {
        height: 100%;
        display: inline-block;
      }
    }

    .banner-prev,
    .banner-next {
      position: absolute;
      top: 50%;
      z-index: 2;
      margin-top: -.8854vw;
      outline: none;

      img {
        height: 1.82vw;
      }
    }

    .banner-prev {
      left: 3.59vw;
    }

    .banner-next {
      right: 3.59vw;
    }

    .swiper-pagination {
      height: 10px;
      bottom: 11.6146vw;

      .my-bullet {
        margin: 0 .339vw;
        width: .52vw;
        height: .52vw;
        background-color: #bfbfbf;
        display: inline-block;
        cursor: pointer;
        border-radius: 50%;
      }

      .my-bullet-active {
        background-color: #000000;
      }
    }

    .banner_info {
      position: absolute;
      height: 100%;
      padding-top: 10.9375vw;

      .title1 {
        font-size: 1.458vw;
        margin-bottom: .364vw;
      }

      .title2 {
        font-size: 2.18vw;
        font-family: "SourceHanSansCN Bold";
        line-height: 2.81vw;
        margin-bottom: .52vw;
      }

      .title3 {
        font-size: .99vw;
        font-family: "SourceHanSansCN Bold Normal";
        margin-bottom: 2.29vw;
        display: flex;
        align-items: center;

        span {
          font-size: .78vw;
        }
      }

      .more {
        width: 9.58vw;
        height: 2.5vw;
        background-color: #019ed5;
        border-radius: .83vw;
        text-align: center;

        a {
          color: white;
          line-height: 2.5vw;
        }
      }
    }
  }
}

// 搜索框
.i_search {
  max-width: 1214px;
  width: 100%;
  margin: 0 auto;
  height: 58px;
  border-radius: 29px;
  box-shadow: 0 3px 21px rgba(0, 0, 0, .1);
  margin-top: -29px;
  position: relative;
  z-index: 9;
  background-color: white;
  margin-bottom: 70px;

  form {
    height: 100%;
  }

  .search_box {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;

    .search_input {
      flex: 1;
      width: 100px;
      height: 58px;
      font-family: "SourceHanSansCN Light";
      border: none;
      font-size: 15px;

      &::placeholder {
        color: #9f9f9f;
      }
    }

    .search_submit {
      border: none;

      img {
        height: 22px;
      }
    }
  }
}

.i_title {
  display: flex;
  justify-content: space-between;

  .title_name {
    font-size: 33px;
    font-family: "SourceHanSansCN Bold";
    position: relative;

    &::before {
      content: "";
      width: 83px;
      height: 2px;
      background-color: #dcdcdc;
      position: absolute;
      right: -98px;
      top: 24px;
    }
  }

  .btn_list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;

    li {
      background-color: #019ed5;
      height: 38px;
      width: 148px;
      border-radius: 19px;
      line-height: 38px;
      text-align: center;
      box-shadow: 0 0px 0px 0px rgba(0, 0, 0, .2);
      transition: all .1s;
      margin-left: 38px;

      a {
        font-family: "SourceHanSansCN Light";
        font-size: 15px;
        color: #fff;
        display: b;
      }

      &:hover {
        transform: scale(1.01);
        box-shadow: 0 3px 3px 1px rgba(0, 0, 0, .2);
      }
    }
  }
}

.ipro_wrapper {
  margin-bottom: 100px;

  .i_title {
    margin-bottom: 48px;
  }

  .menu_list {
    list-style: none;
    display: flex;
    margin-bottom: 58px;

    li {
      width: 216px;
      height: 42px;
      line-height: 40px;
      border: 1px solid;
      text-align: center;
      margin-right: 20px;
      border-color: rgb(1, 158, 213, 0);
      border-radius: 0;
      transition: border-color .3s, border-radius .3s .1s;

      a {
        font-size: 16px;
        color: #636363;
        font-family: "SourceHanSansCN Light";
      }

      &:hover {
        border-color: rgb(1, 158, 213, 1);
        border-radius: 21px;

        // transition: border-color .3s .1s,border-radius .3s;
        a {
          color: #019ed5;
        }
      }
    }
  }

  .pro_list1,
  .pro_list2 {
    display: flex;

    li {
      background-color: #f4f3f8;
      border-radius: 16px;
      overflow: hidden;
      margin-bottom: 49px;
      position: relative;
      height: 366px;

      .pro_name {
        position: absolute;
        z-index: 2;
        font-size: 26px;
        left: 72px;
        top: 80px;
      }

      .more_btn {
        position: absolute;
        z-index: 2;
        font-size: 26px;
        left: 72px;
        bottom: 100px;
        transition: all .5s;

        &:hover {
          transform: scale(1.1);
        }
      }

      .img_main {
        transition: all .5s;
        height: 100%;
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
      }

      &:hover {
        .img_main {
          transform: scale(1.08) translateX(-50%);
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .pro_list1 {
    li {
      width: calc(50% - 16px);
      margin-right: 32px;
    }
  }

  .pro_list2 {
    li {
      width: calc(33.33% - 24px);
      margin-right: 36px;

    }
  }
}

//应用领域
.iarea_wrapper {
  margin-bottom: 150px;

  .i_title {
    margin-bottom: 50px;
  }

  .area_list {
    display: flex;
    justify-content: space-between;

    li {
      width: 936px;

      &:last-child {
        width: 498px;
      }

      .main_img {
        height: 640px;
        width: 100%;
        overflow: hidden;
        border-radius: 16px;
        margin-bottom: 27px;
      }

      .item_title {
        font-size: 27px;
        font-family: "SourceHanSansCN Normal";
        margin-bottom: 20px;

        a {
          color: #000000;
        }
      }

      .item_more {
        font-size: 17px;
        font-family: "SourceHanSansCN Normal";
      }
    }
  }
}

// 新闻中心
.inews_wrapper {
  margin-bottom: 90px;

  .i_title {
    margin-bottom: 22px;
  }

  .btn_list {

    li {
      border: 1px solid #019ed5;
      transition: all .5s;
      background-color: #ffffff;

      a {
        color: #019ed5;
        transition: all .5s;
      }

      &:hover,
      &.active {
        transform: scale(1.01);
        box-shadow: 0 3px 3px 1px rgba(0, 0, 0, .2);
        background-color: #019ed5;

        a {
          color: #ffffff;
        }
      }
    }
  }

  .inews_arrow {
    display: flex;
    margin-bottom: 55px;
    cursor: pointer;

    .iconfont {
      margin-right: 10px;
      width: 44px;
      height: 44px;
      text-align: center;
      line-height: 42px;
      border-radius: 50%;
      font-size: 26px;
      color: #bfbfbf;
      border-color: #bfbfbf;
      border-width: 1px;
      border-style: solid;
      transition: all .5s;

      &:hover {
        color: #019ed5;
        border-color: #019ed5;
      }

      &.pre {
        transform: rotate(-90deg);
      }

      &.next {
        transform: rotate(90deg);
      }
    }
  }

  .i_newslist {
    .i_list {
      display: flex;
      flex-wrap: wrap;

      li {
        width: calc(33.33% - 22px);
        margin-right: 33px;

        &:last-child {
          margin-right: 0;
        }

        .item_img {
          height: 336px;
          width: 100%;
          overflow: hidden;
          border-radius: 16px;
          margin-bottom: 20px;

          img {
            transition: all .5s;
          }

          &:hover {
            img {
              transform: scale(1.1);
            }
          }
        }

        .item_date {
          font-size: 18px;
          color: #717171;
          margin-bottom: 10px;
          display: flex;
          align-items: center;

          img {
            margin-right: 10px;
          }
        }

        .item_title {
          font-size: 28px;
          color: #000000;
          margin-bottom: 30px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .item_more {
          font-size: 17px;
          color: #717171;
        }

      }
    }
  }
}

// 合作伙伴
.icompanys_wrapper {
  background-color: #fafafa;
  padding-top: 50px;

  .i_title {
    margin-bottom: 55px;
  }

  .companys_list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .companys_item {
      width: calc(20% - 12px);
      height: 120px;
      margin-right: 15px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
      transition: all .5s;
      border-radius: 8px;
      cursor: pointer;
      overflow: hidden;

      img {
        transition: all .5s;
        height: 70%;
      }

      &:nth-child(5n) {
        margin-right: 0;
      }

      &:hover {
        box-shadow: 0 0 6px rgba(0, 0, 0, .2);

        img {
          transform: scale(1.1);
        }
      }
    }
  }

  .swiper-container {
    padding-bottom: 100px;

    .swiper-pagination {
      bottom: 50px;

      .my-bullet {
        width: 11px;
        height: 11px;
        background-color: #d1d1d1;
        display: inline-block;
        cursor: pointer;
        border-radius: 50%;
        margin: 0 7px;
      }

      .my-bullet-active {
        background-color: #019ed5;
        width: 13px;
        height: 13px;
        margin: 0 6px;
      }
    }
  }
}

//关于我们
.icontact_wrapper {
  background-color: #019ed5;
  height: 176px;

  .container_zz {
    height: 100%;
  }

  .icontact_box {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 28px;
      color: #fff;
      font-family: "SourceHanSansCN Light";
    }

    .icontact_btn {
      height: 50px;
      line-height: 50px;
      text-align: center;
      width: 210px;
      display: inline-block;
      background-color: white;
      color: #019ed5;
      font-family: "SourceHanSansCN Bold";
      font-size: 18px;
      border-radius: 18px;

      img {
        margin-left: 24px;
      }

      a {
        color: #019ed5;
      }
    }
  }
}

// 底部
.footer {
  background-color: #e7e8ea;
  padding-top: 75px;
  padding-bottom: 65px;

  .logo {
    margin-bottom: 35px;

    img {
      width: 230px;
    }
  }

  .footer_content {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .footer_title {
      font-size: 18px;
      color: #262626;
      font-family: "SourceHanSansCN Medium";
      margin-bottom: 25px;
    }

    .content_left {
      width: 40%;

      .left_info {
        p {
          color: #666667;
          font-size: 15px;
          font-family: "SourceHanSansCN Light";
          margin-bottom: 5px;
        }
      }
    }

    .content_mid {
      width: 100px;
      flex: 1;

      .mid_nav {
        display: flex;
        margin-bottom: 24px;

        li {
          margin-right: 40px;

          a {
            color: #484848;
            font-size: 16px;
            font-family: "SourceHanSansCN Light";

            &:hover {
              color: #019ED5;
            }
          }
        }
      }

      .mid_icon {
        display: flex;

        li {
          margin-right: 16px;
          width: 35px;
          height: 35px;
          line-height: 31px;
          border-radius: 50%;
          border: 2px solid #cdcdcd;
          text-align: center;

          .iconfont {
            color: #cdcdcd;
            font-size: 22px;
          }

          &:hover {
            border: 2px solid #019ED5;

            .iconfont {
              color: #019ED5;
            }
          }
        }
      }
    }

    .content_right {
      padding-top: 15px;
    }
  }
}

.footer_info {
  background-color: #e7e8ea;
  height: 58px;
  line-height: 58px;
  border-top: 1px solid #c5c6c7;

  .info_box {
    color: #767676;
    font-size: 14px;
    font-family: "SourceHanSansCN Light";
    display: flex;
    justify-content: space-between;
  }
}

.inner_banner {
  height: 445px;
  position: relative;
  padding-top: 172px;
  overflow: hidden;

  img {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: -1;
  }

  &.banner_white {
    .inner_banner_bg {
      .title1 {
        color: #ffffff;
      }

      .title2 {
        color: #ffffff;
      }
    }
  }

  .inner_banner_bg {
    // position: absolute;
    height: 117px;
    width: 867px;
    background-image: url(../images/banner_bg.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 100%;
    padding-left: 295px;
    padding-top: 15px;

    .title1 {
      font-size: 35px;
      color: #333333;
      font-family: "SourceHanSansCN Medium";
    }

    .title2 {
      font-size: 21px;
      color: #333333;
      font-family: "SourceHanSansCN Light";
    }
  }
}

// 公司简介
.inner_title {
  width: 675px;
  margin: 0 auto;
  margin-bottom: 34px;

  .title_cn {
    font-size: 40px;
    color: #333333;
    font-family: "SourceHanSansCN Bold";
    text-align: center;
    position: relative;
    line-height: 1em;

    &::before,
    &::after {
      width: 195px;
      background-color: #8e8e8e;
      height: 1px;
      content: "";
      position: absolute;
      top: 50%;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  .title_en {
    font-size: 22px;
    color: #999999;
    font-family: "DIN-Medium";
    text-align: center;
    margin-bottom: 8px;
  }

  .title_small {
    font-size: 20px;
    color: #666666;
    text-align: center;
  }
}

.intro_1 {
  padding: 92px 170px 0 170px;

  p {
    font-size: 16px;
    line-height: 34px;
    color: #636363;
    font-family: "SourceHanSansCN Light";
    margin-bottom: 0;
  }

  .company_img {
    height: 108px;
    width: 100%;
    margin-top: 40px;

    img {
      width: 100%;
    }
  }
}

.intro1_block {
  height: 385px;
  background-color: #f6f6f6;

  .intro_1 {
    padding: 0 170px;
  }

  .blue_block {
    width: 750px;
    height: 285px;
    margin-left: -22px;
    margin-bottom: -22px;
    background-color: #019ed5;
  }
}

.intro_2 {
  height: 300px;
  position: relative;
  background-image: url(../images/intro/2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;

  .black_block {
    background-color: rgba(49, 49, 49, .6);
    width: calc(50% + 210px);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .intro_list {
    position: relative;
    z-index: 2;
    width: 960px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    li {
      width: 430px;
      display: flex;
      align-items: center;
      margin: 18px 0;

      .item_content {
        color: white;
        padding-left: 10px;

        .item_title {
          font-size: 18px;
          font-family: "SourceHanSansCN Bold";
        }

        .item_info {
          font-size: 14px;
          font-family: "SourceHanSansCN Normal";
        }
      }
    }
  }
}

.intro_3 {
  padding-top: 95px;
  margin-bottom: 130px;

  .intro3_body {
    display: flex;

    .intro3_left {
      height: 430px;
      width: 960px;
      background: url(../images/intro/3.jpg) no-repeat center center;
      background-size: 100% 100%;
      position: relative;

      .info {
        font-size: 20px;
        background-color: rgba(1, 158, 213, .9);
        color: white;
        line-height: 34px;
        height: 114px;
        width: 630px;
        position: absolute;
        right: 0;
        bottom: 0;
        padding-top: 22px;
        padding-left: 40px;
        font-family: "SourceHanSansCN Normal";
      }
    }

    .intro3_right {
      width: 10px;
      flex: 1;
      border-top: 7px solid #019ed5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fbfbfb;

      .intro3_item {
        display: flex;
        width: 432px;
        align-items: center;
        padding: 40px 0;

        .item_img {
          margin-right: 18px;

          img {
            width: 103px;
          }
        }

        .item_content {
          .item_title {
            font-size: 22px;
            font-family: "SourceHanSansCN Bold";
            color: #333333;
          }

          .item_info {
            font-size: 16px;
            font-family: "SourceHanSansCN Normal";
            color: #666666;
          }
        }

        &:first-child {
          border-bottom: 1px solid #dcdcdc;
        }
      }
    }
  }
}

.intro_4 {
  height: 820px;
  padding-top: 100px;
  background: url(../images/intro/certificate/bg.jpg) no-repeat center center;
  background-size: auto 100%;

  .inner_title {
    margin-bottom: 80px;
  }

  .intro4_swiper {
    height: 430px;
    background: url(../images/intro/certificate/bg2.png) no-repeat center center;
    background-size: auto 100%;

    .container_zz {
      display: flex;
      justify-content: flex-start;
      padding: 54px 68px;
      position: relative;
    }

    .swiper-container {
      width: 1017px;
      margin-left: 0;

      .swiper-slide {
        img {
          width: 100%;
        }
      }
    }

    .banner-prev,
    .banner-next {
      position: absolute;
      top: 50%;
      z-index: 2;
      margin-top: -.8854vw;
      outline: none;

      img {
        height: 31.4px;
      }
    }

    .banner-prev {
      left: 55px;
    }

    .banner-next {
      right: 460px;
    }
  }
}

.pro_wrapper {
  overflow: hidden;
  background: url(../images/pro/list_bg.jpg) no-repeat center bottom;
}

.type_menu {
  background-color: #f1f1f1;
  height: 66px;
  display: flex;
  padding-left: 10px;
  margin-top: 75px;
  margin-bottom: 60px;

  li {
    line-height: 66px;
    margin: 0 25px;
    position: relative;

    a {
      color: #333333;
      font-family: "SourceHanSansCN Normal";
      font-size: 16px;
    }

    &::before {
      content: "";
      height: 3px;
      width: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      background-color: #f1f1f1;
      transition: all .5s;
      transform: translateX(-50%);
    }

    &:hover,
    &.active {
      a {
        color: #019ed5;
      }

      &::before {
        background-color: #019ed5;
        width: 100%;
      }
    }
  }
}

.pro_page_list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;

  li {
    margin-right: 48px;
    width: calc(33.33% - 32px);
    border: 1px solid #d8d8d8;
    margin-bottom: 46px;
    background-color: #fff;

    .item_img {
      border-bottom: 1px solid #e9e9e9;
      padding-top: 314px;
      height: 0;
      position: relative;
      overflow: hidden;

      >a >img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transition: all .5s;
      }
      >img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transition: all .5s;
      }

      .item_view {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0);
        transition: all .5s;
        opacity: 0;
      }
    }

    .item_content {
      height: 75px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px 0 12px;
      transition: all .5s;

      .item_title {
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        a {
          color: #333333;
          transition: all .5s;
          font-family: "SourceHanSansCN Normal";
        }
      }

      .item_more {
        width: 115px;
        height: 40px;
        border-radius: 20px;
        background-color: #e9e9e9;
        line-height: 40px;
        text-align: center;
        transition: all .5s;

        a {
          transition: all .5s;
          font-size: 16px;
          color: #999999;
          display: block;
          font-family: "SourceHanSansCN Normal";
        }
      }
    }

    &:hover {
      .item_img {
        >img {
          transform: scale(1.1);
        }

        .item_view {
          background-color: rgba(0, 0, 0, .5);
          opacity: 1;
        }
      }

      .item_content {
        background-color: #019ed5;

        .item_title {
          a {
            color: #fff;
          }
        }

        .item_more {
          background-color: #fff;

          a {
            color: #019ed5;
          }
        }
      }
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.pagination_wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 190px;

  li {
    border: 1px solid #dcdcdc;
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin: 0 4.5px;
    transition: all .5s;

    a {
      font-size: 14px;
      color: #666666;
      font-family: "SourceHanSansCN Normal";
      transition: all .5s;
    }

    &.page_change {
      width: 81px;
    }

    &.active,
    &:hover {
      background-color: #019ed5;
      border-color: #019ED5;

      a {
        color: #ffffff;
      }
    }
  }
}

.application_wrapper {
  padding-bottom: 105px;
  padding-top: 88px;

  li {
    display: flex;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    .item_img {
      width: 50%;
      overflow: hidden;

      img {
        width: 100%;
        transition: all .5s;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }

    .item_content {
      width: 50%;
      background-color: #f9f9f9;
      padding-top: 110px;
      padding-left: 76px;

      .item_title {
        font-size: 40px;
        color: #333333;
        margin-bottom: 2px;
      }

      .item_detail {
        font-size: 16px;
        color: #666666;
        margin-bottom: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
      }

      .item_more {
        width: 140px;
        height: 44px;
        line-height: 44px;
        border-radius: 22px;
        background-color: #cccccc;
        text-align: center;
        transition: all .5s;

        a {
          font-size: 15px;
          color: #666666;
          display: block;
          transition: all .5s;
        }

        &:hover {
          background-color: #019ed5;

          a {
            color: #ffffff;
          }
        }
      }
    }
  }
}

.news_wrapper {
  padding-top: 65px;

  .news_nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;

    .nav_left {
      display: flex;

      li {
        width: 218px;
        height: 68px;
        line-height: 68px;
        text-align: center;
        transition: all .5s;

        a {
          color: #333333;
          transition: all .5s;
          font-size: 20px;
          font-family: "SourceHanSansCN Normal";
        }

        &:hover,
        &.active {
          background-color: #019ed5;

          a {
            color: #ffffff;
            font-family: "SourceHanSansCN Bold";
          }
        }
      }
    }

    .nav_search {
      height: 68px;
      line-height: 68px;
      display: flex;
      align-items: center;

      .search_icon {
        margin-right: 15px;
      }

      input {
        border: none;
        font-size: 16px;
        width: 240px;

        &::placeholder {
          color: #999999;
        }
      }
    }
  }

  .news_header {
    .header_item {
      padding: 30px 45px 30px 34px;
      display: flex;
      background-color: #f4f5f8;

      .header_img {
        width: 440px;
      }

      .header_content {
        width: 100px;
        flex: 1;
        padding-top: 20px;
        padding-left: 38px;

        .header_title {
          font-family: "SourceHanSansCN Normal";
          font-size: 24px;
          color: #636363;
          margin-bottom: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .header_detail {
          margin-bottom: 52px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
          overflow: hidden;
          line-height: 27px;
          height: 108px;

          p {
            font-family: "SourceHanSansCN Normal";
            font-size: 16px;
            margin-bottom: 0;
            color: #999999;
          }
        }

        .header_other {
          .header_date {
            display: flex;
            align-items: center;
            font-family: "SourceHanSansCN Light";
            font-size: 16px;
            color: #999999;

            img {
              margin-right: 5px;
            }
          }
        }
      }
    }

    .header_btn {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 2;
      display: flex;
      padding-right: 40px;
      padding-bottom: 40px;

      .btn_pre,
      .btn_next {
        margin-left: 20px;
      }
    }
  }

  .news_list {
    margin-bottom: 60px;

    li {
      border-bottom: 1px solid #d2d2d2;
      display: flex;
      justify-content: space-between;
      padding: 34px 0;

      .item_date {
        width: 132px;
        height: 132px;
        background-color: #019ed5;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .date_year {
          font-family: "DIN-Light";
          font-size: 24px;
          margin-bottom: 5px;
        }

        .date_day {
          font-family: "DIN-Bold";
          font-size: 60px;
          line-height: 1em;
        }
      }

      .item_content {
        width: 100px;
        flex: 1;
        padding-left: 25px;
        padding-right: 30px;

        .item_title {
          font-size: 24px;
          color: #636363;
          font-family: "SourceHanSansCN Normal";
          margin-bottom: 40px;
        }

        .item_detail {
          font-size: 16px;
          color: #999999;
          font-family: "SourceHanSansCN Normal";
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          line-height: 28px;
          height: 56px;
        }
      }
    }
  }

  .pagination_wrapper {
    margin-bottom: 95px;
  }
}

.partners_wrapper {
  padding-top: 120px;
  padding-bottom: 450px;
  background: url(../images/partners/bg.jpg) no-repeat center bottom;

  .inner_title {
    width: 923px;

    .title_cn {
      margin-bottom: 8px;
    }
  }

  .partners_list {
    display: flex;
    flex-wrap: wrap;

    li {
      margin-right: 42px;
      width: calc(16.666% - 35px);
      border: 1px solid #dcdcdc;
      margin-bottom: 32px;
      height: 138px;

      &:nth-child(6n) {
        margin-right: 0;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.contact_wrapper {}

.contact_top {
  display: flex;
  padding-top: 108px;
  padding-bottom: 126px;

  li {
    margin-right: 56px;
    width: calc(25% - 42px);
    height: 340px;
    background-color: #f7f7fa;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 56px;

    &:last-child {
      margin-right: 0;
    }

    .item_icon {
      width: 84px;
      height: 84px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-bottom: 15px;
    }

    .item_title {
      font-size: 18px;
      line-height: 34px;
      color: #333333;
      font-family: "DIN-Medium";
      margin-bottom: 30px;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 31px;
        height: 1px;
        background-color: #019ed5;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);

      }
    }

    .item_info {
      font-family: "SourceHanSansCN Normal";
      font-size: 16px;
      color: #999999;
    }
  }
}

.contact_map {
  height: 630px;
  position: relative;

  .map {
    height: 100%;
    width: 100%;

    .BMapLib_bubble_top,
    .BMapLib_trans,
    .anchorBL {
      display: none;
    }

    .BMapLib_SearchInfoWindow {
      border: none;
      background-color: transparent;
      bottom: -340px !important;
    }

    .BMapLib_bubble_center {
      .BMapLib_bubble_content {
        padding: 0;

        .pop_map {
          width: 210px;
          height: 108px;
          background: linear-gradient(90deg, #ff4c04, #ff8522);
          display: flex;
          padding: 22px;

          .pop_icon {
            margin-right: 10px;
          }

          .pop_content {
            .pop_title {
              font-size: 15px;
              color: #ffffff;
              margin-bottom: 12px;
              font-family: "SourceHanSansCN Normal";
            }

            .pop_addr {
              font-size: 12px;
              color: #ffffff;
              line-height: 16px;
              font-family: "SourceHanSansCN Normal";
            }
          }
        }
      }
    }
  }

  .container_zz {
    position: relative;
  }

  .contact_form {
    background-color: #9298a7;
    height: 630px;
    width: 636px;
    top: -630px;
    right: 0;
    position: absolute;
    z-index: 2;
    padding-top: 100px;
    padding-left: 74px;
    padding-right: 60px;

    .form_title {
      color: #ffffff;
      margin-bottom: 30px;

      .title_cn {
        font-family: "SourceHanSansCN Bold";
        font-size: 30px;
        text-align: center;
        position: relative;

        &::before,
        &::after {
          width: 80px;
          background-color: #ffffff;
          height: 1px;
          content: "";
          position: absolute;
          top: 50%;
        }

        &::before {
          left: 0;
        }

        &::after {
          right: 0;
        }
      }

      .title_en {
        font-family: "DIN-Medium";
        font-size: 20px;
        text-align: center;
      }
    }

    .form_main {
      display: flex;

      .main_col {
        width: calc(50% - 12px);
        margin-right: 24px;
        margin-bottom: 10px;
        flex: 1;

        &:last-child {
          margin-right: 0;
        }

      }
    }

    .col_label {
      font-size: 15px;
      color: #ffffff;
      margin-bottom: 3px;
    }

    .col_input {
      width: 100%;

      input {
        height: 32px;
        width: 100%;
        padding: 5px;
        caret-color: #ffffff;
      }

      textarea {
        width: 100%;
        height: 108px;
        padding: 5px;
        caret-color: #ffffff;
      }
    }

    .form_main2 {
      margin-bottom: 25px;
    }

    .submit_btn {
      width: 176px;
      height: 46px;
      color: #ffffff;
      font-size: 15px;
      font-family: "SourceHanSansCN Bold";
      text-align: center;
      line-height: 45px;
      background-color: #019ED5;
      border: none;
      border-radius: 23px;
      margin: 0 auto;
      transition: all .5s;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 8px rgba(0, 0, 0, .2);
      }
    }
  }
}

.news_detail {
  padding-top: 90px;
  .news_title {
    font-size: 45.8px;
    color: #196fba;
    text-align: center;
    margin-bottom: 34px;
  }

  .news_date {
    font-size: 25px;
    color: #808080;
    text-align: center;
    margin-bottom: 87px;
  }

  .news_content {
    font-size: 25px;
    color: #808080;
    padding-bottom: 110px;
  }

  .pagetion_btn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    .a_btn {
      width: 100px;
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 100px;

      a {
        font-size: 20.8px;
        color: #808080;
        &:hover{
          color: #196fba;
        }
      }

      &:last-child {
        text-align: right;
        padding-left: 100px;
        padding-right: 0;
      }
    }
  }

  .back_list {
    text-align: right;
    margin-bottom: 70px;

    a {
      font-size: 20.8px;
      color: #196fba;
    }
  }
}